PORT=4000
SUPABASE_URL=tu_url_de_supabase
SUPABASE_KEY=tu_key_de_supabase
OPENROUTER_API_KEY=tu_key_maestra_de_openrouter
MODELO_POR_DEFECTO=openai/gpt-4o-mini

# Credenciales Globales de Chatwoot (para el script de sincronización)
CHATWOOT_BASE_URL=https://soporte.mbtech.work 
CHATWOOT_API_TOKEN=HVrEwSnznrAAWfSrDGPWuonq
CHATWOOT_ACCOUNT_ID=1